
<ion-content [fullscreen]="true">
  <div id="container">
    <!-- <ion-range (ionChange)="onIonChange($event)"></ion-range>

    <ion-range (ionChange)="onIonChange($event)">
      <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
      <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    </ion-range> -->
    <ion-item>
      <ion-label>Calculadora de Gorjeta</ion-label>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="valorConta"
        type="number"
        placeholder="Clique aqui para digitar o valor da conta"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>escolha a porcentagem para o valor da gorjeta</ion-label>
      <ion-range
        (ionChange)="onIonChange($event)"
        [ticks]="true"
        [snaps]="true"
        [min]="0"
        [max]="30"
      ></ion-range>
      <ion-label>{{valorRange}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Valor da sua gorjeta</ion-label>
      <ion-label>{{valorGorjeta}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Valor final da conta</ion-label>
      <ion-label>{{valorTotal}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Conversor de unidades de medida</ion-label>
    </ion-item>

    <ion-list>
      <ion-label>Escolha a sua unidade de medida</ion-label>
      <ion-radio-group [(ngModel)]="unidadeSelecionada">
        <ion-item>
          <ion-label>Quilômetros</ion-label>
          <ion-radio value="km"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Metros</ion-label>
          <ion-radio value="m"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Centímetros</ion-label>
          <ion-radio value="cm"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item>
      <ion-label>escolha o valor a ser covertido</ion-label>
      <ion-range
        (ionChange)="onIonChange($event)"
        [ticks]="true"
        [snaps]="true"
        [min]="0"
        [max]="100"
      ></ion-range>
      <ion-label>{{valorRange}}</ion-label>
    </ion-item>
    <ion-list>
      <ion-label>Escolha a ser convertida</ion-label>
      <ion-radio-group [(ngModel)]="unidadeSelecionada2">
        <ion-item>
          <ion-label>Milhas</ion-label>
          <ion-radio value="milhas"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Pés</ion-label>
          <ion-radio value="pes"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Jardas</ion-label>
          <ion-radio value="jardas"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button expand="block" (click)="converter()">Converter</ion-button>
    <ion-label>O valor convertido é {{valorConversao}}</ion-label>
  </div>
</ion-content>
