<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ion-Range
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <!-- <ion-range (ionChange)="onIonChange($event)"></ion-range>

    <ion-range (ionChange)="onIonChange($event)">
      <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
      <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    </ion-range> -->
    <ion-item>
      <ion-label>Calculadora de Gorjeta</ion-label>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="valorConta" type="number" placeholder="Clique aqui para digitar o valor da conta"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>escolha a porcentagem para o valor da gorjeta</ion-label>
      <ion-range (ionChange)="onIonChange($event)" [ticks]="true" [snaps]="true" [min]="0" [max]="30"></ion-range>
      <ion-label>{{valorRange}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Valor da sua gorjeta</ion-label>
      <ion-label>{{valorGorjeta}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Valor final da conta</ion-label>
    <ion-label>{{valorTotal}}</ion-label>
    </ion-item>


  </div>
</ion-content>
